*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  padding-top: 50px;
}

.form{
  max-width: 400px;
  height: 150px;
  background-color: aqua;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  margin-top: 20px;
  width: 250px;
}

button {
  margin-top: 20px;
  background-color: plum;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}